@using TeamPortal.Models
@using System;

@model (List<MergeRequestModel>, List<BranchModel>)
@{
    ViewData["Title"] = "Git";
}

<div class="text-center">
    @await Html.PartialAsync("_MergeRequestPartial", Model.Item1)
    @await Html.PartialAsync("_BranchesPartial", Model.Item2)
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#merge-request-table').DataTable({ "paging": false, "info": false });
            $('#branche-table').DataTable({ "paging": false, "info": false });
        });
    </script>
}