@using TeamPortal.Models
@using System;

@model (IEnumerable<MergeRequestModel>, IEnumerable<BranchModel>)
@{
    ViewData["Title"] = "Git";
}

<div class="text-center">
    @await Html.PartialAsync("_MergeRequestPartial", Model.Item1)
    @await Html.PartialAsync("_BranchesPartial", Model.Item2)
</div>
